<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list" href="/tabs/list">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>To Do</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-edit" href="/tabs/add-edit">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
