.content {
  .header {
    font-size: 2.2rem;
    font-weight: bold;
    display: block;
    margin-top: 1.5rem;
  }

  .sub-header {
    font-size: 32px;
    font-weight: bold;
    margin-top: 4rem;
    display: block;
    margin-bottom: 2rem;
  }

  .forget-password {
    margin-top: 30px;
    margin-bottom: 21px;

    a {
      color: var(--ion-color-primary);
    }
  }

  .create-account {
    margin-top: 30px;

    a {
      color: var(--ion-color-primary);
    }
  }
}