<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>To Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">To Do List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="!loaded">
    <ion-col
      size="12"
      size-sm="12"
      size-md="6"
      *ngFor="let list of lists; let i = index"
    >
      <ion-card>
        <ion-list>
          <ion-item-sliding>
            <ion-item lines="none" [ngClass]="list.completed ? 'completed':''">
              <div class="index" slot="start">
                <ion-label>{{list.id}}</ion-label>
              </div>
              <ion-label>
                <h2>
                  <ion-text color="primary">{{list.title}}</ion-text>
                </h2>
                <p>
                  <ion-text color="secondary"
                    >Status : {{list.completed ? 'Completed' : 'Not
                    Complete'}}</ion-text
                  >
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                *ngIf="!list.completed"
                (click)="actions('done', list, i)"
                color="success"
                >Done</ion-item-option
              >
              <ion-item-option (click)="actions('edit', list, i)"
                >Edit</ion-item-option
              >
              <ion-item-option
                (click)="actions('delete', list, i)"
                color="danger"
                >Delete</ion-item-option
              >
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="loaded">
    <ion-col
      size="12"
      size-sm="12"
      size-md="6"
      *ngFor="let list of fakeList;  "
    >
      <ion-card>
        <ion-list>
          <ion-item lines="none">
            <div class="skeleton" slot="start">
              <ion-avatar slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-avatar>
            </div>
            <ion-label>
              <h2>
                <ion-text color="primary">
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 80%"
                  ></ion-skeleton-text
                ></ion-text>
              </h2>
              <p>
                <ion-text color="secondary"
                  ><ion-skeleton-text
                    [animated]="true"
                    style="width: 60%"
                  ></ion-skeleton-text
                ></ion-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal(null , null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-loading
  [isOpen]="loading"
  message="Loading..."
  spinner="circles"
></ion-loading>
