<ion-content class="ion-padding">
  <div class="content">
    <ion-header class="header">Forget Password</ion-header>
    <ion-label color="secondary" class="ion-text-center sub-header"
      >Forget Your Password ? Don't Worry...</ion-label
    >
    <div class="ion-padding">
      <form [formGroup]="forgetForm">
        <ion-item lines="none">
          <ion-icon name="mail" slot="start"></ion-icon>
          <!-- <ion-label>Email</ion-label> -->
          <ion-input
            formControlName="email"
            placeholder="Ex: name@domain.com"
            type="email"
            required
            errorText="Email is required"
          ></ion-input>
        </ion-item>

        <p class="ion-text-end forget-password">
          <a routerDirection="back" routerLink="/auth/login"
            >Did you remember your password?</a
          >
        </p>

        <ion-button
          type="submit"
          ion-label
          color="secondary"
          expand="block"
          (click)="forgetPassword()"
          >Restore Account</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
